/* nav bar */
.menu a {
    color: #27201F !important;
}

nav a:hover {
    border-bottom: 2px solid #DFC7E1 !important;
}

.menu li a:hover {
    background-color: #27201F !important;
    color: #FBFBFB !important;
}


nav>ul li:hover .derou{
    display: block !important;
}


.deroulant li {
    float: none !important;
    display: block !important;
    width: 95%;
    text-align: left !important;
}

.sous-menu .sous-menu2 li {
    float: none !important;
    display: block !important;
    width: 95% !important;
    text-align: left !important;
}

.sous-menu a {
    padding: 10px !important;
    border-bottom: none !important;
}


.sous-menu li:hover {
    background-color: RGBa(200, 200, 200, 0.1) !important;
}

.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
}

/* fin nav bar */

/* Homepage CSS */
body {
    background-color: #FBFBFB !important;
}

.mainpage.title {
    color: #27201F !important;
}

.maintitle.container {
    background-color: #fbfbfb !important;
}

.nav-wrapper {
    color: #27201F !important;
    background-color: #fbfbfb !important;
}

a {
    text-decoration: none !important;
    color: #27201F !important;
}

/* Fin Homepage CSS*/

/* admin */

h2.title_admin {
    margin-top: 13px;
    font-size: 30px;
}

.post ul li {
    color: #ACACAC;
}

i.material-icons {
    margin-bottom: 0px;
}

div.menu_admin {
    margin-bottom: 55px;
}

.container_left div.menu_admin div h5{
    margin-top: 0px;
}

.container_droit div {
    border-radius: 5%;
}

.container_droit div.stats{
    background : linear-gradient(to right, #4f46ba, #84e8f4);
    border-radius: 5%;
    color: #27201F;
}
/* Fin admin */

#Formulaire-contact html {
    color: #27201F !important;
}


.text-contact {
    margin-left: 100px;
    color: #eaeaea;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

.contact-b1 {
    display: flex;
    margin-left: 100px;
}

input {
    background-color: #eaeaea;
    padding: 12px;
    border: 5px solid #eaeaea;
    border-radius: 17px;
    margin-bottom: 5px;
    margin-right: 10px;
}

textarea {
    background-color: #eaeaea;
    margin-left: 100px;
    border: 2px solid #eaeaea;
    border-radius: 17px;
    padding: 12px;
}

img {
    width: 100%;
}

.copiright h3 {
    color: #bbb8b8;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* page article */

.article .title {
    color: #27201F;
    font-weight: bold;
}


/* fin page article */

/* page connexion */


/* fin */

/* footer */
footer {
    background-image: url(img/footer.png);
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .footer {
    display: flex;
    justify-content: space-between;
}

.redirection {
    margin-right: 250px;
}

.bouton-footer {
    margin-left: 100px;
    margin-top: 10px;
}

.bouton-footer input {
    background-color: #2b325a;
    border: 5px solid #2b325a;
}

.bouton-footer input:hover {
    color: white;
}

/* Fin footer */